.orderPreviewWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
}

.itemDetails {
    flex: 0 0 73%;
    max-width: 73%;
}

.itemTableData {
    width: 30%;
    text-align: center;
    border-bottom: 1px solid #84c639ed;
    border-right: 1px solid #84c639ed;
}

.actionButtonWrapper {
    width: 12%;
}

.smallTableData {
    width: 10%;
}

.addonTableData {
    width: 20%;
}

.deleteTableRow {
    width: 3%;
}

.deliveryCard {
    box-shadow: 0 2px 25px hsl(0deg 0% 60% / 50%);
    transition: 0.2s;
    border-radius: 8px;
    height: 500px;
    width: 22%;
    font-size: 14px;
    font-family: none;
    padding: 0 0 0 20px;
    margin-top: 3px;
}

.itemCard {
    transition: 0.2s;
    border-radius: 8px;
    margin-right: 15px;
    font-size: 14px;
    font-family: none;
    margin-top: 3px;
}

.contentWidth {
    padding: 10px;
    width: 19%;
}

.userCard {
    border-bottom: 1px solid #84c639;
    transition: 0.2s;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    font: 'Lato'sans-serif;
}

.itemFirstData {
    border-left: 1px solid #84c639ed;
}

.itemListWrapper {
    height: 100px;
}

.hr {
    margin-right: -75px;
}